<div class="content-menu-burger">

    <span class="menu-open">
        <i class="fa fa-bars"></i>
    </span>

    <span class="menu-close">
        <i class="fa fa-times"></i>
    </span>

    <div class="content-sub-menu-burger">

        <span class="menu-reunion" >
            <a class="item-sub-menu-burger" data-toggle="dropdown" data-target="#submenu-burger-reunion" ><i class="fa fa-calendar"></i></a>
             <div id="submenu-burger-reunion" class="dropdown-sub-menu-burger">   
               
                    <a href="#" class="dropdown-item-burger">
                    
                        <div class="icon-reunion">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <div class="details-reunion">
                            <span class="title_reunion">Titre long pour une reuinion 1</span>
                            <span class="date_reunion">07 juillet 2023</span>
                            <span class="separator_reunion"> | </span> 
                            <span class="hour_reunion">15h</span>
                        </div>
                    </a>

                     <a href="#" class="dropdown-item-burger">
                    
                        <div class="icon-reunion">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <div class="details-reunion">
                            <span class="title_reunion">Titre long pour une reuinion 2</span>
                            <span class="date_reunion">07 juillet 2023</span>
                            <span class="separator_reunion"> | </span> 
                            <span class="hour_reunion">15h</span>
                        </div>
                    </a>

                     <a href="#" class="dropdown-item-burger">
                    
                        <div class="icon-reunion">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <div class="details-reunion">
                            <span class="title_reunion">Titre long pour une reuinion 3 on est sur le test</span>
                            <span class="date_reunion">21 juillet 2023</span>
                            <span class="separator_reunion"> | </span> 
                            <span class="hour_reunion">14h35</span>
                        </div>
                    </a>
                    
                    <a href="#" class="dropdown-item-burger all-my-reunion">Toutes mes réunions</a>
               
            </div>
        </span>

        <span class="menu-commission">
            <a data-toggle="dropdown" data-target="#submenu-burger-commission" class="item-sub-menu-burger"><i class="fa fa-users"></i></a>
                <div id="submenu-burger-commission" class="dropdown-sub-menu-burger"> 
            
                    <a href="#" class="dropdown-item-burger">
                        <i class="fa fa-user icon-comission"></i> Titre long pour une reuinion 
                    </a>

                     <a href="#" class="dropdown-item-burger">
                        <i class="fa fa-user icon-comission"></i> Titre long pour une reuinion 2
                    </a>

                     <a href="#" class="dropdown-item-burger">
                        <i class="fa fa-user icon-comission"></i> Titre long pour une reuinion 3
                    </a>
                
                    <a href="#" class="dropdown-item-burger all-my-commission">Toutes mes commissions</a>
                </div>
        </span>

        <span class="menu-poser-question">

             <a data-toggle="dropdown" data-target="#submenu-burger-question" class="item-sub-menu-burger"><i class="fa fa-question-circle"></i></a>
                <div id="submenu-burger-question" class="dropdown-sub-menu-burger"> 
            
                    <a href="#" class="dropdown-item-burger">
                        <i class="fa fa-question-circle icon-question"></i> Poser une question
                    </a>
                </div>
        </span>
    </div>

</div>